<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" allowCookies="true"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <readerQuotas maxDepth="32"
               maxArrayLength="200000000"
               maxStringContentLength="200000000"/>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiceSoap12">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://www.trainingpeaks.com/tpwebservices/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="TrainingPeaksServiceReference.ServiceSoap" name="ServiceSoap" />
      <endpoint address="http://www.trainingpeaks.com/tpwebservices/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap12"
                contract="TrainingPeaksServiceReference.ServiceSoap" name="ServiceSoap12" />
    </client>
  </system.serviceModel>
</configuration>